@model Scheduler.Models.CreateJobViewModel

@{
    ViewBag.Title = "CreateJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateJob</h2>

<div class="form-group">
    @Html.LabelFor(model => model.Workers, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.WorkerIds, Model.Workers, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Workers, "", new { @class = "text-danger" })
    </div>
</div>
